
body{
    background-color:rgb(49, 54, 53);
}
html,*{
  font-family: "Fira Code", sans-serif;
}
.logo{
  width: 50%;
  height: 50%;
}
.column1{
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color:rgb(31, 34, 33);
  color: whitesmoke;
  width: 500px;
  position: relative;
  height: fit-content;
  padding-bottom: 20px;
}
/* test*/
.InfoColumn{
  border-radius: 10px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color:rgb(31, 34, 33);
  color: whitesmoke;
  width: 500px;
  position: relative;
}
.columns{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

a{
  color: gray;
  font-size: large;
}
.email,.githubinfo,.mobilecontact,.linkedincontact{
  display: flex;
  align-items: center;
}
.headers{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gray;
}
.ContactBlokje{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:fit-content;
  width:fit-content;
  position: relative;
  left: 80%;
  border-style: solid;
  border-radius: 5%;
  background-color:rgb(55, 60, 59);
}

i{
  font-size:xx-large;
}

@font-face {
  font-family: 'Fira Code';
  src: url(/Fira_Code_v6.2/ttf/FiraCode-Regular.ttf);
}

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

  }
  
  .sidebar a:hover {
    color: #f1f1f1;

  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;

  }
  
    video::-webkit-media-controls-volume-slider {
    display:none;
    }
    
    video::-webkit-media-controls-mute-button {
    display:none;
    }

  .openbtn:hover {
    background-color: #444;

  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;

  }
  #contact {
    transition: margin-left .5s;
    padding: 16px;

  }
  #information {
    transition: margin-left .5s;
    padding: 16px;
  }
  